<article class="bcls-article">
  <h1>トレーニング</h1> <summary>オンデマンドトレーニングコースとビデオ。</summary> <a href="/get-started/training/register-training.html">
    <h4>&nbsp;&nbsp;&nbsp;インストラクター主導トレーニングへの登録</h4>  </a><section class="bcls-section">
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>全般</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Video Cloud</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="/get-started/training/online-training-courses.html">オンライントレーニングコース</a></li>
              <li><a href="/get-started/training/brightcove-university.html">Brightcove大学コース</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-video-cloud-basics.html">ビデオクラウドの基本</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-introduction-video-cloud.html"> ビデオクラウドの概要</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-introduction-video-cloud-analytics.html"> ビデオクラウド分析の概要</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/video-cloud-studio-training-videos.html">ビデオクラウドスタジオトレーニングビデオ</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>Gallery</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4> Brightcoveプレーヤーの開発</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-introduction-gallery.html">ギャラリーの紹介</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-building-portal-experiences-using-gallery.html">ギャラリーを使用したポータルエクスペリエンスの構築</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-building-page-experiences-using-gallery.html">ギャラリーを使用したページ内エクスペリエンスの構築</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/gallery-training-videos.html">ギャラリー・トレーニング・ビデオ</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://player.support.brightcove.com/training/developer-basics-videos.html">開発者向け基本ビデオ</a></li>
              <li><a href="https://player.support.brightcove.com/training/training-demand-developing-brightcove-player.html"> Brightcoveプレーヤーで開発する</a></li>
              <li><a href="https://apis.support.brightcove.com/player-management/getting-started/training-demand-quick-start-player-management.html">プレーヤー管理へのクイックスタート</a></li>
              <li><a href="https://player.support.brightcove.com/training/player-development-training-videos.html">プレーヤー開発トレーニングビデオ</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>SDK開発</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          {% if site.product_short=="BeaconClassic"%}
          <th width="49%" scope="col">
            <h4>Brightcoveビーコン</h4>
          </th>
          {% endif %}
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://sdks.support.brightcove.com/getting-started/brightcove-native-sdks-training-videos.html">BrightcoveネイティブSDKトレーニングビデオ</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          {% if site.product_short=="BeaconClassic"%}
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://beacon.support.brightcove.com/training/index.html">オンデマンドのビーコントレーニング</a></li>
            </ul>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>  </section></article>