<article class="bcls-article">
  <h1>Training</h1>
  <summary>On-demand training courses and videos.</summary>
  <a href="/get-started/training/register-training.html">
    <h4><i data-feather="arrow-right-circle"></i>&nbsp;&nbsp;&nbsp;Register for Instructor-Led Training</h4>
  </a>
  <section class="bcls-section">
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>General</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Video Cloud</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="/get-started/training/online-training-courses.html">Online Training Courses</a></li>
              <li><a href="/get-started/training/brightcove-university.html">Brightcove University Courses</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-video-cloud-basics.html">Video Cloud Basics</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-introduction-video-cloud.html"> Introduction to Video Cloud</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-introduction-video-cloud-analytics.html"> Introduction to Video Cloud Analytics</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/video-cloud-studio-training-videos.html">Video Cloud Studio Training Videos</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>Gallery</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Brightcove Player Development</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-introduction-gallery.html">Introduction to Gallery</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-building-portal-experiences-using-gallery.html">Building Portal Experiences using Gallery</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-building-page-experiences-using-gallery.html">Building In-Page Experiences using Gallery</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/gallery-training-videos.html">Gallery Training Videos</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://player.support.brightcove.com/training/developer-basics-videos.html">Developer Basics Videos</a></li>
              <li><a href="https://player.support.brightcove.com/training/training-demand-developing-brightcove-player.html"> Developing with the Brightcove Player</a></li>
              <li><a href="https://apis.support.brightcove.com/player-management/getting-started/training-demand-quick-start-player-management.html">Quick Start to Player Management</a></li>
              <li><a href="https://player.support.brightcove.com/training/player-development-training-videos.html">Player Development Training Videos</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>SDK Development</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          {% if site.product_short == "Beacon Classic" %}
          <th width="49%" scope="col">
            <h4>Brightcove Beacon</h4>
          </th>
          {% endif %}
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://sdks.support.brightcove.com/getting-started/brightcove-native-sdks-training-videos.html">Brightcove Native SDKs Training Videos</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          {% if site.product_short == "Beacon Classic" %}
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://beacon.support.brightcove.com/training/index.html">Beacon Training on Demand</a></li>
            </ul>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>

  </section>
</article>